body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    margin: 1em 0 1em;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#canvasFrame {
    display: block;
    margin: 1em 0;
}

#posture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    width: 15%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: red;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
